@import url("../styles/header.css");
@import url("../styles/main.css");

:root {
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-principal: #FFFFFF;
    --cor-segundaria: #8E2424;
    --cor-botao-degrade: rgba(142, 36, 36, 0.05);

    --fonte-principal: "inter";
}

body {
    font-family: var(--fonte-principal);
    background: var(--cor-principal);
    font-weight: 400;
    color: var(--cor-titulo);
}